body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e2e8f0;
}

#root {
  display: flex;
    border: 1px solid black;
  padding: 5rem;
}

.childDiv {
  padding: 0 2rem;
  text-align: center;
}

.childDiv button {
  padding: 0.5rem 1rem;
  border-radius: 20%;
  background-color: #94a3b8;
  color: #f8fafc;
  font-size: 1rem;
  cursor: pointer;
  border: none;
}
